.nav-container{
    height:10vh;
    color:white;
    background-color:#3b82f6;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.nav-container li{
    list-style: none;
    text-decoration: none;
    margin: 0 1rem;
}
.nav-container h2{
    margin: 2rem;
}
.nav-container li input{
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    border-style:none;
    width: 250px; 
}
.nav-container li input:focus{
    outline: none;
}

.product-container{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem;
    margin: 1rem;
    border: 2px solid black;
}

.product-container img{
  width: 100px;
  margin: auto;
}
.product-container p{
    margin : 0rem 0.5rem;
    font-size: 10px;
}
.product-container h6{
    margin : 0rem 0.5rem;
    font-size: 10px;
}
 .cart-component{
    height: 15vh;
    width: 65vw;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }
 .cart-component img{
    width:100px ;
    height: 80px;
 }

 .cart-component p{
    text-align: center;
    font-size: 10px;
    max-width: 70px;
 }
 .cart-component span input{
    max-width: 20px;
    margin: auto 0.2rem;
}
.cart-component span input:focus{
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0.5rem 2rem;
    width: 90vw;
    margin: 1rem;
}
.filter-container span{
    margin: 0 0.5rem;
}
.filter-container span select{
    margin: 0 0.5rem;
}
.filter-container span select:focus{
    outline: none;
}


